@model EditMenuFormModel
@{
    ViewData["Title"] = "Edit menu";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Edit menu</button>
                    <a asp-area="Owner" asp-controller="Menus" asp-action="All">Back</a>
                </div>
            </form>
        </section>
    </div>
</div>